<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>さん、こんにちは。</h1>
    <p>
        これはテスト用のメールとなっています。
    </p>
    <p>
      詳しくは、<%= @url %>をご覧ください。
    </p>
    <p>本サイトにユーザー登録いただきありがとうございます。</p>
  </body>
</html>
