<% if @task.nil? %>
<div class="user-not-found-box">
    <h1 class="text-danger">タスクが見つかりませんでした</h1>
    <p>大変申し訳ございません、タスクを見つけることができませんでした。再度お試しください。</p>
</div>
<% else %>
<header class="text-center">
    <h1><%= @task.title %></h1>
</header>

<div class="task-content">
<%= @task.content %>
</div>

<div class="text-center">
    <%= link_to "タスクを更新する", edit_task_path(@task.id), class: "btn btn-outline-success" %>
    <%= button_to "削除", task_path(@task.id), class: "btn btn-danger my-4", method: :delete %>
</div>

<% end %>
