<header class="text-center">
    <h1><%= @user.name %></h1>
    <p>ようこそ</p>
</header>

<div class="user-action-list-box">
    <div class="mb-4">
        <%= link_to 'タスクの表示', tasks_path, class: 'btn btn-outline-primary' %>
        <%= link_to 'ユーザ情報の変更', edit_user_registration_path, class: 'btn btn-outline-warning' %>
    </div>
    <%=
        button_to 'ログアウト', 
        destroy_user_session_path,
        class: 'btn btn-outline-warning',
        method: :delete
    %>
</div>
