<header class="text-center">
    <h1>ログイン</h1>
    <p>ログイン画面</p>
</header>

<%= form_with url: "/users/login", model: @user, method: :post do |form| %>
  <div style="margin: auto 10rem;">
    <div class="mb-3">
      <label for="user_name" class="form-label">名前</label><br>
      <input type="text" name="user[name]" id="user_name" class="form-control">
    </div>

    <div class="mb-3">
      <label for="user_password" class=form-label>パスワード</label><br>
      <input type="password" name="user[password]" id="user_password" class="form-control">
    </div>

    <div class="mb-3 text-center">
      <input class="btn btn-outline-primary" type="submit" name="commit" value="ログイン" data-disable-with="ログイン">
    </div>
  </div>
<% end %>

<%= render 'shared/register' %>
