<header class="text-center">
    <h1><%= @user.name %></h1>
    <p>ようこそ</p>
</header>

<div class="user-action-list-box">
    <ul>
        <li></li>
    </ul>
    <%= button_to 'ログアウト', 
      destroy_user_session_path,
      method: :delete
    %>
</div>
