/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* 共通 */
@font-face {
    font-family: 'lineseedJP';
    src: font-url('../assets/LINESeedJP_A_TTF_Rg.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'lineseedJP', sans-serif;
}

/* ユーザのプロフィールアイコン */
.user-profile-icon {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: solid 1px #333;
}

/* ユーザ名の表示 */
.profile-user-name {
    border-bottom: solid 2px #333;
}

.user-task-list {
    width: fit-content;
    margin: auto;
}

/* タグやタスクの更新、作成などに使用されるformをいい感じにしてくれるやつ */
.input-form {
    width: 80vw;
}

.error-alert, .success-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.main-logo {
    width: 150px;
    height: auto;
}

.tag-button-box {
    a {
        padding: 0;
        border-radius: 0.4rem;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
        position: relative;
        &:hover {
            cursor: pointer;
            .tag-outer-frame-box {
                width: 100%;
                background-color: rgba(0, 0, 0, 0)!important; /* styleで指定されているカラーコードに上書きしたいためimportant */
            }
        }

        .tag-outer-frame-box {
            border: solid 2px cadetblue;
            width: 10px;
            height: 100%;
            position: absolute;
            border-radius: 10px;
            background-color: cadetblue;
            z-index: 1000;
            transition: all .5s ease-out;
        }

        p {
            margin: .2rem;
        }
    }
}

.tag-description-box {
    margin-bottom: 1rem;
    h4 {
        font-size: 1.3rem;
        margin-bottom: 0;
    }
    p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 767px) {
    .input-form {
        width: 96vw;
    }
}
