/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* 共通 */

@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

body {
    font-family: 'Zen Kurenaido', sans-serif;
}

footer.copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    p, a {
        color: #333;
        a {
            display: inline-block;
            transition: all 0.5s ease-out;
            &:hover {
                transform: scale(1.2);
                color: #777;
            }
        }
    }
    span {
        font-size: 1.1rem;
        margin-right: 10px;
        margin-left: 10px;
    }
}

header {
    margin-top: 2rem;
}

.application-page {
    position: relative;
    min-height: 100vh;
}

p.register-text {
    font-size: 0.75rem;
    color: #777;
    margin-top: 1rem;
    margin-bottom: 1rem;
    a {
        font-size: 1rem;
    }
}

.center-layout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.monitor-center {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* homes/index */

main.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

header.header {
    h1 {
        font-size: 3rem;
    }
    p {
        color: #333;
    }
}

/* users/show */

.user-not-found-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    text-align: center;
}

/* sign_in、sign_up時のformのレイアウト */

.sign-in-sign-up-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

/* users/index */
/* ユーザ画像、ユーザ名の表示 */
.user-home-info-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;

    .user-img-box {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.user-action-list-box {
    margin: auto;
    text-align: center;
}

.user-task-list {
    width: fit-content;
    margin: auto;
}

/* controller */
/* クラスの命名の法則は「.[controller_name].[action_name]」 */

.tasks_index {
    .tag-button-box {
        a {
            padding: 0;
            border-radius: 0.4rem;
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            text-decoration: none;
            position: relative;
            &:hover {
                cursor: pointer;
                .tag-outer-frame-box {
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0)!important; /* styleで指定されているカラーコードに上書きしたいためimportant */
                }
            }

            .tag-outer-frame-box {
                border: solid 2px cadetblue;
                width: 10px;
                height: 100%;
                position: absolute;
                border-radius: 10px;
                background-color: cadetblue;
                z-index: -1;
                transition: all .5s ease-out;
            }

            p {
                margin: .2rem;
                color: #000;
            }
        }
    }

    .tag-description-box {
        color: #666;
        margin-bottom: 1rem;
        h4 {
            font-size: 1.3rem;
            margin-bottom: 0;
        }
        p {
            font-size: 0.8rem;
        }
    }
}
