<p>こんにちは、<%= @user.name %>さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスは<%= @resource.unconfirmed_email %>に変更されます。</p>
<% else %>
  <p>あなたのメールアドレスが<%= @resource.email %>に変更されました。</p>
<% end %>
