<p>こんにちは、<%= @user.name %>さん</p>

<p>パスワードのリセットが要求されました。以下のリンクをクリックすることでパスワードをリセットすることができます。</p>

<p><%= link_to 'パスワードの変更を行う', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしリクエストを送っていない場合、このメールは無視してください。</p>
<p>上のリンクをクリックしない限りパスワードは変更されません。</p>
